@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainDiv{
  display: flex;
  flex-direction: row;
  align-content: center;
  background-color: rgb(125, 235, 167);
  border: dotted 2px royalblue;
}
.leftSide{
  flex: 2;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  border: solid 1px royalblue;
}
.rightSide{
  margin-top: 200px;
  flex: 1;
  text-align: center;
}
.eachAlpha {
  border: solid red 1px;
  width: 80px;
  height: 80px;
  margin: 32px;
}
@keyframes hoverAlpha {
  from { 
    width: 80px; 
    height: 80px;
  }
  to { 
    width: 100px; 
    height: 100px;
  }
}
.eachAlpha:hover {
  animation-name: hoverAlpha;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.alphaStyleDirectParent {
  /* border: solid blue 2px; */
    width: inhert;
    height: inherit;
}
@keyframes fontAlignmentChange {
  from {
    margin-top: 12px;
    margin-left: 15px;
  }
  to {
    margin-top: 20px;
    margin-left: 35px;
  }
}
.alphaStyle{
  font-size: 40px;
  font-family: 'Anton', sans-serif;  color: red;
  width: 80px;
  height: 80px;
  margin-top: 12px;
  margin-left: 18px;
}
.alphaStyle:hover {
  animation-name: fontAlignmentChange;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.secondPageQuizAlpha {
  font-size: 120px;
  margin-left: 120px;
  margin-top: 80px;  
}

.card{
  margin-left: 100px;
  width: 50%; 
  background-color: blueviolet;
  border-radius: 10px;
  padding: 5px;
}
#card1{
  box-shadow: 0 4px 8px ;
  transition: 1s;
  width: 60px;
  border-radius: 10px;
  padding: 6px;
}
img{
  width: 150px;
  height:150px;
}
.quizLeft{
  text-align: center;
  flex: 5;
  display: flex;
  width: 100px;
  height: 250px;
  margin: auto;
  margin-left: 80px;
}
.quizRight,.card{
  margin-top: 60px;
  flex: 8;
}
h1{
  font-display: italic;
  color: brown;
}
.buttonYes {
  background-color: rgb(165, 100, 226);
  color: rgb(136, 255, 0);
}
.imageDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.imgSrc {
  margin: 0 auto;
}
.quizLeftLetter {
  margin: auto;
  margin-left: 100px;
  width: 200px; 
  height: 300px;
  background-color: blueviolet;
  border-radius: 10px;
  padding: 5px;
}
.quizLeftLetter > h1 {
  font-family: 'Anton', sans-serif;  color: red;
  font-size: 200px;
  margin: auto;
  margin-top: 15px;
}

.answer{
  text-align: center;
}
.checkBox{
  height: 40px;
  width:40px;
  background-color: rgb(168, 102, 230);
  color: rgb(7, 78, 7);
  font-size: 20px;
}
.score{
  font-family: 'Anton', sans-serif;  color: blue;
  font-size: 20px;
  margin: auto;
  margin-right: 20px;

}